.header-wrapper{ transition:background-color .3s,color .3s; width:100%; box-shadow:0px 5px 8px -10px rgba(5,5,5,.3882352941); position:relative; z-index:500 }
.top-bar,.main,.main-menu{ display:flex; justify-content:space-between; align-items:center; padding:10px 10vw }
.top-bar{ transition:transform .15s }
.top-bar span,.top-bar .internal-links{ font-size:12px; font-weight:700 }
.top-bar .mobile-balance{ display:none }
.top-bar.sticky-header{ backdrop-filter:blur(10px); position:fixed; z-index:10; top:0; width:100%; animation:slideDown .15s ease-out forwards }
.main .main-left,.main .main-right{ display:flex; align-items:center; gap:1rem }
.main .main-left .search-container{ width:360px }
.main .main-left .brand-container{ display:flex; align-items:center }
.main .main-left .brand-container svg{ display:none; margin-right:1.25rem; font-size:1.5rem; color:#aaa }
.main .main-left .brand-container .hamburger-menu-wrapper{ display:none; position:fixed; height:100vh; left:0; width:300px; top:0; flex-direction:column; gap:1rem; z-index:5; transition:transform .3s ease-in-out; padding:1rem; transform:translateX(-100%) }
.main .main-left .brand-container .hamburger-menu-wrapper.active{ transform:translateX(0) }
.main .main-left .brand-container .hamburger-menu-wrapper .support-streamer-text{ color:#9147ff; font-weight:700 }
.main .main-left .brand-container .hamburger-menu-wrapper .localization{ justify-content:flex-start }
.main .main-left .brand-container .hamburger-menu-wrapper .localization svg{ font-size:12px }
.main .main-left .brand-container .hamburger-menu-wrapper a{ text-transform:capitalize; display:flex; align-items:center; justify-content:space-between }
.main .main-left .brand-container .hamburger-menu-wrapper a svg{ margin:0; font-size:12px }
.main .main-right .nav-main-user{ font-size:12px; gap:4px }
.main .main-right .nav-main-user,.main .main-right .nav-main-icons{ display:flex; align-items:center }
.main .main-right .nav-main-icons{ gap:1.5rem; margin-left:1rem }
.main-menu{ padding:0 10vw .25rem 10vw }
.navigation,.social-media{ display:flex; align-items:center; gap:16px }
.social-media,.balance{ gap:8px }
.localization{ gap:4px; cursor:pointer }
.localization svg{ font-size:9px }
.social-media a{ font-size:22px }
.balance,.social-media a,.balance a,.localization,.balance span{ display:flex; justify-content:center; align-items:center }
.balance span.blurred{ filter:blur(4px) }
.balance svg{ color:#3d7dc8 }
.linear{ height:5px; width:100%; background-size:200% 200% !important; background:#4180c9; background:-moz-linear-gradient(87deg,rgb(65,128,201) 0%,rgb(112,142,179) 11%,rgb(179,122,209) 22%,rgb(198,60,60) 36%,rgb(235,107,49) 48%,rgb(152,151,101) 58%,rgb(60,119,158) 68%,rgb(118,53,215) 85%,rgb(49,235,214) 100%); background:-webkit-linear-gradient(87deg,rgb(65,128,201) 0%,rgb(112,142,179) 11%,rgb(179,122,209) 22%,rgb(198,60,60) 36%,rgb(235,107,49) 48%,rgb(152,151,101) 58%,rgb(60,119,158) 68%,rgb(118,53,215) 85%,rgb(49,235,214) 100%); background:linear-gradient(87deg,rgb(65,128,201) 0%,rgb(112,142,179) 11%,rgb(179,122,209) 22%,rgb(198,60,60) 36%,rgb(235,107,49) 48%,rgb(152,151,101) 58%,rgb(60,119,158) 68%,rgb(118,53,215) 85%,rgb(49,235,214) 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4180c9",endColorstr="#31ebd6",GradientType=1); -webkit-animation:header-linear 5s ease infinite; -moz-animation:header-linear 5s ease infinite; animation:header-linear 5s ease infinite }
@keyframes header-linear{ 0%{background-position:10% 0% }
50%{ background-position:91% 100% }
100%{ background-position:10% 0% }
}
@keyframes slideDown{ from{transform:translateY(-100%) }
to{ transform:translateY(0) }
}
@keyframes slideRight{ from{transform:translateX(-100%) }
to{ transform:translateX(0) }
}
@media(max-width:768px){ .header-wrapper .main-menu,.header-wrapper .linear{display:none }
.header-wrapper .top-bar{ padding:0 }
.header-wrapper .top-bar .balance a{ display:none }
.header-wrapper .top-bar .balance svg{ font-size:15px; margin-right:.5rem }
.header-wrapper .top-bar.sticky-header{ backdrop-filter:unset !important; padding:8px }
.header-wrapper .top-bar.sticky-header .mobile-balance{ display:flex }
.header-wrapper .top-bar .internal-links,.header-wrapper .top-bar .social-media,.header-wrapper .top-bar .localization{ display:none }
.header-wrapper .top-bar .navigation{ width:100%; justify-content:space-between; padding:10px 6px }
.header-wrapper .main{ position:relative; align-items:flex-start; justify-content:flex-start; padding:5px 1rem 1rem 1rem }
.header-wrapper .main .main-left{ flex-direction:column; align-items:flex-start }
.header-wrapper .main .main-left .search-container{ width:calc(100vw - 2rem) }
.header-wrapper .main .main-left .brand-container svg{ display:flex }
.header-wrapper .main .main-left .brand-container .hamburger-menu-wrapper{ display:flex }
.header-wrapper .main .main-right{ position:absolute; top:1.5rem; right:2rem }
.header-wrapper .main .main-right .nav-main-user{ display:none }
.header-wrapper .main .main-right .nav-main-icons div:nth-child(n+3){ display:none }
}